---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.tsx';
import About from '../components/About.tsx';
import Experience from '../components/Experience.tsx';
import StravaDashboard from '../components/StravaDashboard.tsx';
import Lab from '../components/Lab.tsx';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero client:load />
    <About client:visible />
    <Experience client:visible />
    <StravaDashboard client:visible />
    <Lab client:visible />
  </main>
  <Footer />
</BaseLayout>
